<h1>Listing playwrights</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playwrights.each do |playwright| %>
  <tr>
    <td><%= link_to playwright.name, playwright %></td>
    <td><%= link_to 'Show', playwright %></td>
    <td><%= link_to 'Edit', edit_playwright_path(playwright) %></td>
    <td><%= link_to 'Destroy', playwright, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playwright', new_playwright_path %>
