<p id="notice"><%= notice %></p>

<h1><%= @playwright.name %></h1>

<p><%= @playwright.notes %></p>

<h3>Plays</h3>

<ul>
	<% @playwright.plays.each { | play | %>
		<li><%= link_to play.title, play %></li>
		<ul>
			<% @runs_by_play_id[play.id].each { | run | %>
				<li>
					<%= run.venue.name %>, <%= run.year %>
					<%= link_to new_performance_url(:run_id => run) do %>
						<span class='glyphicon glyphicon-plus-sign' />
					<% end %>
				</li>
			<% } %>
		</ul>
	<% } %>
</ul>

<h3>Runs</h3>

<ul>
</ul>

<%= link_to 'Edit', edit_playwright_path(@playwright) %> |
<%= link_to 'Back', playwrights_path %>
