<p id="notice"><%= notice %></p>

<h1><%= @playwright.name %></h1>

<p><%= @playwright.notes %></p>

<%= link_to 'Edit', edit_playwright_path(@playwright) %> |
<%= link_to 'Back', playwrights_path %>
