<div class='row'>
	<div class='col-md-12'>
		<p id="notice"><%= notice %></p>

		<h1><%= @playwright.name %></h1>

		<p><%= @playwright.notes %></p>

		<% @playwright.plays.each { | play | %>
		<div class='panel panel-default'>
			<div class='panel-heading'><%= link_to play.title, play %></div>

			<div class='panel-content'>
			<% if @runs_by_play_id[play.id] %>
				<% @runs_by_play_id[play.id].each { | run | %>
					<li class='list-group-item'>
						<%= link_to run.venue.name, run %>, <%= link_to run.year, run %>
						<%= link_to new_performance_url(:run_id => run) do %>
							<span class='glyphicon glyphicon-plus-sign' />
						<% end %>
					</li>
				<% } %>
			<% end %>
			</div>

		</div>
		<% } %>

		<ol class='breadcrumb'>
			<li><%= link_to 'Edit', edit_playwright_path(@playwright) %></li>
			<li><%= link_to 'Back', playwrights_path %></li>
		</ol>
	</div>
</div>

