<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<ul>
<% @artist.performances.each { | performance | %>
	<li>
		<%= link_to performance.role.name, performance.role %> in
		<%= link_to performance.run.play.title, performance.run.play %>,
		<%= link_to performance.run.venue.name, performance.run.venue %>,
		<%= link_to performance.run.year, performance.run %>
	</li>
<% } %>
</ul>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
