<p id="notice"><%= notice %></p>

<h1><%= @venue.name %> <br /><small><%= @venue.organization %></small></h1>

<p>
	<b>Runs:</b>
</p>

<% @venue.runs.each { | run | %>
	<div>
		<%= link_to "%s %s" % [run.year, run.play.title], run %>
        <%= link_to new_performance_url(:run_id => run) do %>
          <span class='glyphicon glyphicon-plus-sign' />
        <% end %>
	</div>
<% } %>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
