<p id="notice"><%= notice %></p>

<h1><%= @role.name %> <br /><small><%= @role.play.title %></small></h1>

<h3>Runs:</h3>

<% @role.play.runs.each { | run | %>
	<div>
		<%= link_to "%s %s" % [run.year, run.venue.name], run %>
		<% if @performances_by_run_id[run.id] %>
			: <%= link_to @performances_by_run_id[run.id].artist.name, @performances_by_run_id[run.id] %>
		<% else %>
			<%= link_to new_performance_url(:run_id => run, :role_id => @role) do %>
				<span class='glyphicon glyphicon-plus-sign' />
			<% end %>
		<% end %>
	</div>
<% } %>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
