<div class='row'>
	<div class='col-md-12'>

		<p id="notice"><%= notice %></p>

		<h1><%= @role.name %> <br /><small><%= @role.play.title %> by <%= @role.play.playwright.name %></small></h1>

		<h3>Performances:</h3>

		<ol class='list-group'>
		<% @role.play.runs.each { | run | %>
			<li class='list-group-item'>
				<%= link_to "%s %s" % [run.year, run.venue.name], run %>
				<% if @performances_by_run_id[run.id] %>
					: <%= link_to @performances_by_run_id[run.id].artist.name, @performances_by_run_id[run.id] %>
				<% else %>
					<%= link_to new_performance_url(:run_id => run, :role_id => @role) do %>
						<span class='glyphicon glyphicon-plus-sign' />
					<% end %>
				<% end %>
			</li>
		<% } %>
		</ol>

		<ol class='breadcrumb'>
			<li><%= link_to 'Edit', edit_role_path(@role) %></li>
			<li><%= link_to 'Back', roles_path %></li>
		</ol>
	</div>
</div>