<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
  <b>Play:</b>
  <%= @role.play.title %>
</p>

<p>
	<b>Runs:</b>
</p>

<% @role.play.runs.each { | run | %>
	<div><%= link_to "%s %s" % [run.year, run.venue.name], run %></div>
<% } %>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
