<p id="notice"><%= notice %></p>

<h1><%= @role.name %> <br /><small><%= @role.play.title %></small></h1>

<h3>Runs:</h3>

<% @role.play.runs.each { | run | %>
	<div><%= link_to "%s %s" % [run.year, run.venue.name], run %></div>
<% } %>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
