<h1>Photos</h1>

<table class='table'>
  <tr>
    <th></th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td>
      <%= image_tag(photo.url, :height => 50) %>
    </td>
    <td>
      <%= link_to photo.url, photo.url %>
      <% photo.performances.each { | a_performance | %>
        <div>
          <%= link_to a_performance.artist.name, a_performance.artist %> as
          <%= link_to a_performance.role.name, a_performance.role %> in <%= link_to a_performance.run.play.title, a_performance.run.play %>,
          <%= link_to a_performance.run.year, a_performance.run %> <%= link_to a_performance.run.venue.name, a_performance.run.venue %>
        </div>
      <% } %>
    </td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
