<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= collection_select("run", "venue_id", Venue.find(:all, :order => 'name'), :id, :name, {:prompt => true}, {:class => 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :play %><br />
    <%= collection_select("run", "play_id", Play.find(:all, :order => 'title'), :id, :title, {:prompt => true}, {:class => 'form-control'}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
