<p id="notice"><%= notice %></p>

<h1><%= @run.play.title %> <br /><small><%= @run.venue.name %>, <%= @run.year %></small></h1>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
