<h1>Listing performances</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>Run</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.artist.name %></td>
    <td><%= performance.run.year %> <%= performance.run.venue.name %></td>
    <td><%= performance.role.name %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Performance', new_performance_path %>
