<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= link_to @performance.artist.name, @performance.artist %>
</p>

<p>
  <b>Run:</b>
  <%= link_to @performance.run.year, @performance.run %>
  <%= link_to @performance.run.venue.name, @performance.run %>
</p>

<p>
  <b>Role:</b>
  <%= link_to @performance.role.name, @performance.role %> in <%= link_to @performance.role.play.title, @performance.role.play %>
</p>

<% if (@performance.photo) then %>
	<p><%= image_tag(@performance.photo.url, :height => 480) %></p>
<% end %>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
